{% extends 'base.html' %}

{% block content %}


    <div class="card-product">
       <img src="{{object.main_img}}" />
        <div class="card-product-infos">
              <h2>{{object.name}}</h2>

              <h3>ABOUT {{object.summary}}</h3>
              <h4>CITY {{object.location}}</h4>
              <h5>COUNTRY {{object.country.object}}</h5>
              <h6>VIRTUAL CONSULTATION {{object.virtual_consultation}}</h6>
              <h5>LANGUAGES SPOKEN {{object.languages}}</h5>
              <h5>RATING {{object.rating}}</h5>

  </div>
</div>


<div>


</div>

{% endblock content %}
