{% extends 'base.html' %}

{% block content %}
    <br>

        <div class="row">
      <div class="col-md">
        <div class="card card-body">
          <h5>DOCTORS</h5>
        </div>
        <div class="card card-body">
          <table class="table">
            <tr>
              <th>{{object.name}}</th>
              <th>{{object.location}}</th>
              <th>RATING: {{object.rating}}</th>
            </tr>

          </table>
        </div>
      </div>

    </div>

{% endblock content %}
