{% extends 'base.html' %}

{% load static %}

{% block content %}

<section>
  <body>
    <div id="LandingPageTitle">
      <h2>Lorem ipsum dolor sit amet consectetur adipiscing elit Lorem</h2>
      <h5>ed ut perspiciatias unde omnis iste natus error sit voluptatem accsantium</h5>
      <button type="button" class="btn btn-primary btn-lg">BOOK A CONSULTATION</button>
   </div>

  </body>

</section>




<section>






<h1>categorys</h1>








</section>



<section>
  <h1>destinations</h1>

</section>


<section>
  procedures

</section>


<section>
  <h1>what we do</h1>
</section>


<section>
  <h1>blog</h1>
</section>


<section>
  <h1>footer detail</h1>
</section>



{% endblock content %}
