{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Homepage - Section 1  Landing Page-->
<section>

  <body>

    <div id="LandingPageTitle">
      <div class ="w-60 ml-3 pb-2">
        <h2>Find The Best Doctor For You</h2>
      </div>
      <div class ="w-50 ml-3">
        <h5>Research, compare and consult with top doctors worldwide. We provide you the tools to make the best choice for you.</h5>
      </div>
        <div class="col-md-6 mb-4">

          <div class="input-group md-form form-lg form-2 pl-0 mt-5">
            <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search Procedure, Doctor, Destination" aria-label="Search">
                <div class="input-group-append">
                  <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search text-grey" aria-hidden="true"></i></span>
                </div>
          </div>

          <div class="mt-5">
              <button type="button" class="btn btn-primary btn-lg">BOOK A CONSULTATION</button>
          </div>

      </div>
    </div>


  </body>

</section>



<!-- Homepage - Section 2 Procedures -->
<section>
  <body>

    <div class="text-center mt-5 mb-4">
      <div>
        <h3 >Choose Speciality</h3>
      </div>
        <div class="mt3">
         <h5></h5>
        </div>
    </div>

    <div class ="row row-cols-2 row-cols-md-6 align-items-center justify-content-center grid-row-gap" style = "grid-row-gap: 10px;
            grid-column-gap: 100px; ">
      <div class="row">
        <div class="card sm-4" style="width: 18rem;">
          <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dentistry</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div>
        </div>
      </div>

      <div class= "row">
        <div class="card sm-4" style="width: 18rem;">
          <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Plastic Surgery</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div>
         </div>
        </div>

        <div class="row">
          <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fertility</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Click Here</a>
            </div>
          </div>
        </div>

        <div class="w-100"></div>

      <div class="row">
        <div class="card mb-6" style="width: 18rem;">
          <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hair Transplant</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card mb-6" style="width: 18rem;">
          <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Stem Cell</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div>
         </div>
        </div>

        <div class="row">
          <div class="card mb-6" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Click Here</a>
            </div>
          </div>
    </div>
  </div>
</body>
</section>

<!-- Homepage - Section 3 -->

<section>
  <div class ="p=80" style="background-color:lightgrey">

  <div class="text-center mt-5 mb-4" style ="padding-top: 40px">
    <h1>what we do</h1>
  </div>
  <div class="text-center">
    <p>We are a global platform to arrange treatments, research, compare and consult with top doctors in the field of aesthitcs and elective procedures.</p>
  </div>

  <div class="container mt-5" style = "padding-bottom: 50px">
    <div class="d-flex">
      <div class="row" style="align-items:center">
      <div class="col">
        <span style="font-size: 150px">
          <i class="fas fa-search-plus"></i>
        </span>
        <h4>RESEARCH</h4>
      </div>
      <div class="col">
        <span style="font-size: 150px">
          <i class="fas fa-laptop-medical"></i>
        </span>
        <h4>COMPARE</h4>
      </div>
      <div class="col">
        <span style="font-size: 150px">
          <i class="fas fa-user-md"></i>
        </span>
        <h4>CONSULT</h4>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<!-- Homepage - Section 4 Destinations -->

<section>
  <body>
  </body>

</section>


<!-- Homepage - Section 5 -->

<section>
  <div class="text-center mt-5 mb-4">
    <h1>Procedures</h1>
  </div>

  <div class="grid align-items-center justify-content-center" style="display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;">

    <div class="align-items-center">
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
        <h5>Breast Augmentation</h5>
     </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Liposuction</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Brazilian Butt Lift</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Butt Augmentation</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Rhinoplasty</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Facelift</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Tummy Tuck</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Mommy Makeover</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Eyelid Surgery</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Laser Eye Surgery</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Dental Implants</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Vaneers</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Hair Transplant</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>IVF</h5>
    </div>
    <div>
      <img src="https://www.flaticon.com/svg/static/icons/svg/190/190139.svg" alt="" style="height: 50%; width: 50%">
      <h5>Egg Freezing</h5>
    </div>

</div>

  </div>

</section>

<!-- Homepage - Section 6 -->



<section>

  <div class="text-center mt-5 mb-4">
      <div>
        <h3 >Blog & FAQ's</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

</section>

<hr class="invis">



        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="index.html"><img src="images/version/tech-footer-logo.png" alt="" class="img-fluid"></a>
                                <p>Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum, Lorem Ipsum  </p>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-left">
                                  <h3>Join Our Mailing List</h3>
                                    <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget" style = "align-content: center;">
                            <h2 class="widget-title">Popular Destinations</h2>
                            <div class="link-widget">
                                <ul>
                                    <ul><a href="#">Turkey<span>(21)</span></a></ul>
                                    <ul><a href="#">Colombia<span>(15)</span></a></ul>
                                    <ul><a href="#">Costa Rica<span>(31)</span></a></ul>
                                    <ul><a href="#">Thailand <span>(22)</span></a></ul>
                                    <ul><a href="#">Spain<span>(66)</span></a></ul>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget justify-content-center align-items-center">
                            <h2 class="widget-title">About Us</h2>
                            <div class="link-widget">
                                <ul>
                                    <ul><a href="#">About Us</a></ul>
                                    <ul><a href="#">Partner With Us</a></ul>
                                    <ul><a href="#">Contact Us</a></ul>
                                    <ul><a href="#">Trademark</a></ul>
                                    <ul><a href="#">Help</a></ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center pb-2">
                        <br>
                        <div class="copyright">&copy; XXX 2020</div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="dmtop"></div>

    </div>
  </section>

    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>


{% endblock content %}
