{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Homepage - Section 1  Landing Page-->
<section>

  <body>

    <div id="LandingPageTitle">
      <div class ="w-60 ml-3 pb-2">
        <h2>Find The Best Doctor For You</h2>
      </div>
      <div class ="w-50 ml-3">
        <h5>Research, compare and consult with top doctors worldwide. We provide you the tools to make the best choice for you.</h5>
      </div>
        <div class="col-md-6 mb-4">

          <div class="input-group md-form form-lg form-2 pl-0 mt-5">
            <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search Procedure, Doctor, Destination" aria-label="Search">
                <div class="input-group-append">
                  <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search text-grey" aria-hidden="true"></i></span>
                </div>
          </div>

          <div class="mt-5">
              <button type="button" class="btn btn-primary btn-lg">BOOK A CONSULTATION</button>
          </div>

      </div>
    </div>


  </body>

</section>



<!-- Homepage - Section 2 Procedures -->
<section>
  <body>

    <div class="text-center mt-5 mb-4">
      <div>
        <h3 >Choose Speciality</h3>
      </div>
        <div class="mt3">
         <h5></h5>
        </div>
    </div>

    <div class ="row row-cols-2 row-cols-md-3">



      <div class=col mb-4>
        <div class="card mb-4" style="width: 18rem;">
          <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dentistry</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div>
        </div>
      </div>

      <div class=col mb-4>
        <div class="card mb-4" style="width: 18rem;">
          <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Plastic Surgery</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div>
         </div>
        </div>

        <div class=col mb-4>
          <div class="card mb-4" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fertility</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Click Here</a>
            </div>
          </div>
        </div>

      <div class=col mb-4>
        <div class="card mb-4" style="width: 18rem;">
          <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hair Transplant</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div>
        </div>
      </div>

      <div class=col mb-4>
        <div class="card mb-4" style="width: 18rem;">
          <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Stem Cell</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Click Here</a>
          </div>
         </div>
        </div>

        <div class=col mb-4>
          <div class="card mb-4" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Click Here</a>
            </div>
          </div>
        </div>

        <div class=col mb-4>
          <div class="card mb-4" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Click Here</a>
            </div>
          </div>
        </div>

        <div class=col mb-4>
          <div class="card mb-4" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/247765/pexels-photo-247765.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Click Here</a>
            </div>
          </div>
        </div>

    </div>
</body>
</section>

<!-- Homepage - Section 3 -->

<section>

  <div class="text-center mt-5 mb-4">
    <h1>what we do</h1>
  </div>
  <div class="text-center">
    <p>We are a global platform to arrange treatments, research, compare and consult with top doctors in the field of aesthitcs and electic procedures.</p>
  </div>

  <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <div class="row">
      <div class="col">
        <span style="font-size: 100px">
          <i class="fas fa-search-plus"></i>
        </span>
        <h4>RESEARCH</h4>
      </div>
      <div class="col">
        <span style="font-size: 100px">
          <i class="fas fa-laptop-medical"></i>
        </span>
        <h4>COMPARE</h4>
      </div>
      <div class="col">
        <span style="font-size: 100px">
          <i class="fas fa-user-md"></i>
        </span>
        <h4>CONSULT</h4>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Homepage - Section 4 Destinations -->

<section>
  <body>
  </body>

</section>


<!-- Homepage - Section 5 -->

<section>
  procedures

</section>


<!-- Homepage - Section 6 -->



<section>
  <h1>blog</h1>
</section>

<!-- Homepage - Section 7 -->



<section>
  <h1>footer detail</h1>
</section>



{% endblock content %}
