{% load static %}



<div id="app" class="container">
    <nav class="navbar navbar-expand-xl" style ="background-color:transparent;">
        <a class="navbar-brand" href="#">LOGO HERE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">How It Works</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary mr-1" href="">Login</a>
                </li>
                <li class="nav-item ml-1">
                    <a class="nav-link btn btn-primary" href="">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class= "navbar-lower py-1">

  <div class ="d-flex justify-content-center py-3" id="lower-navbar" style="background-color:lightgrey;";>
    <nav class="navbar navbar-expand-lg ">
      <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="nav justify-content-center">
            <li class="nav-item ml-5 mr-5">
              <a class="nav-link badge badge-light" href="/doctorlist">Doctors</a>
            </li>
            <li class="nav-item ml-5 mr-5">
              <a class="nav-link badge badge-light" href="./procedurelist">Procedures</a>
            </li>
            <li class="nav-item ml-5 mr-5">
              <a class="nav-link badge badge-light" href="">Hospitals</a>
            </li>
            <li class="nav-item ml-5 mr-5">
              <a class="nav-link badge badge-light" href="countrylist">Destinations</a>
            </li>
            <li class="nav-item ml-5 mr-5">
              <a class="nav-link badge badge-light" href="#">Reviews</a>
            </li>
            <li class="nav-item ml-5 mr-5">
              <a class="nav-link badge badge-light" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>
</div>

